$white: #fff;
$green: #0f5a47;
$black: #0d0d0d;
$gray: #666666;

@import "layout/media";
@import "layout/fonts";
@import "layout/normalize";
@import "layout/base";

@import "blocks/promo";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/title";
@import "blocks/cta";
@import "blocks/phone";
@import "blocks/btn";
@import "blocks/advantages";
@import "blocks/fixed-menu";
@import "blocks/features";

@import "blocks/about";
@import "blocks/reviews";
@import "blocks/logo";
@import "blocks/team";
@import "blocks/menu";
@import "blocks/accordeon-menu";
@import "blocks/map";
@import "blocks/footer";
@import "blocks/social";
@import "blocks/contacts";
@import "blocks/delivery";
@import "blocks/form";
@import "blocks/humburger-menu";
@import "blocks/fs-menu";
@import "blocks/slider";
@import "blocks/composition";
@import "blocks/arrow";
@import "blocks/slick";
@import "blocks/overlay";
