.arrow {
    position: absolute;
    display: block;
    top: 50%;
    width: 18px;
    height: 35px;

    @include tablets {
        top: 28%;
}

    @include phones {
        top: 26%;
}

    &--left {
        right: 100%;

        @include tablets {
            right: 78%;
    }

    @include phones {
         right: 95%;
}

    }

    &--right {
        left: 100%;

        @include tablets {
            left: 79%;
    }
    @include phones {
       left: 95%;
}
    }
}

.arrow__icon {
    stroke: #0d0d0d;
    stroke-width: 2px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    fill: none;
    width: 100%;
    height: 100%;
}