.btn {
    display: inline-block;
    background-color: $white;
    border-radius: 1.875rem;
    padding: 20px 35px;
    font-weight: 500;
    text-transform: uppercase;
    color: $green;
    font-size: rem(19px);
    box-shadow: 0 10px 10px rgba(33,34,57,0.28);
    outline: none;
    border: none;
    cursor: pointer;
    line-height: 1;

    @include phones {
        font-size: rem(21.5px);
        padding: 1.1rem 2.15rem;
    }

}

.btn--green {
    background-color: #0b4d3c;
    color: $white;
    box-shadow: none;

    &:hover {
        background-color: $green;
    }
}

.btn-reset {
    color: $green;
    font-size: rem(18px);
    border: none;
    outline: none;
    padding: rem(10px);
    background: 0 0;
    cursor: pointer;
    margin-left: rem(19px);
}