.delivery {
    background-color: #cfdeda;
    background-image: url('../../img/bg/form-leaf.png'),
    url('../../img/bg/form-berries.png'),
    url('../../img/bg/form-pattern.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: auto, auto, cover;
    background-position: 99% 82%, 2% 86%, center;

    @include tablets {
        min-height: rem(960px);
    }

    @include phones {
        min-height: rem(768px);
        background-image: url('../../img/bg/form-pattern.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &::before {
        content: '';
        position: absolute;
        width: rem(197px);
        height: rem(264px);
        background-image: url('../../img/bg/form-blackberry.png');
        background-repeat: no-repeat;
        background-position: center center;
        top: -10rem;
        right: 0rem;

        @include phones {
            width: rem(94px);
            height: rem(152px);
            top: -4.5rem;
            background-size: 100%;
        }
    }

}

.delivery__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    @include phones {
        padding: 0;
    }

}