.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: rem(21px) 0;
    background-color: #fff;

    @include phones {
        padding: rem(33px) 0;
    }
}

.footer__container {
    display: flex;
    align-items: center;

    @include phones {
        flex-direction: column;
    }
}
