.nav {
    @include tablets {
        display: none;
    }
}

.nav__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 rem(10px) ;
    justify-content: center;
}

.nav__item {
    margin-right: rem(27px);

    &:last-child {
        margin-right: 0;
    }
}

.nav__link {
    color: $white;
    font-size: rem(18px);
}

.nav--active {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#303434, 0.99);

    .nav__list {
        flex-direction: column;
        margin-top: rem(134px);

        @include phones {
            margin-top: rem(161.2px);
        }
    }

    .nav__item {
        margin-right: 0;
        margin-bottom: rem(30px);

        @include phones {
            margin-bottom: rem(34px);
        }

        &::last-child {
            margin-bottom: 0;
        }
    }

    .nav__link {
        font-size: rem(36px);
    }

}