.title {
    font-weight: 600;
    font-size: rem(48px);
    text-transform: uppercase;
    text-align: center;
    color: $black;
    z-index: 2;

    @include phones {
        font-size: rem(43px);
    }
}


.title--white {
    color: $white;
    text-align: left;
    z-index: 2;
}

.title--green {
    color: $green;
}