.title {
    font-weight: 600;
    font-size: rem(48px);
    text-transform: uppercase;
    text-align: center;
    color: $black;
    z-index: 2;

    @include phones {
        font-size: rem(43px);
    }
}


.title--white {
    color: $white;
    text-align: left;
    z-index: 2;
}

.title--green {
    color: $green;
}

.title--small-size {
    font-size: rem(36px);
    text-align: left;
    margin-top: rem(30px);

    @include tablets {
        text-align: center;
        font-size: rem(30px);
        margin-top: rem(25px);
        max-width: 80%;
    }

    @include phones {
        max-width: 76%;
        margin-top: 7%;
}
}