.about {
    background-image: url('img/bg/about-pattern.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left center;

    @include tablets {
        background-position: left 25%;
    }

    @include phones {
       background: none;
       min-height: rem(707px);
    }

    &:after {
        content: '';
        position: absolute;
        width: rem(161px);
        height: rem(315px);
        background-image: url('img/bg/about-raspberries.png');
        background-repeat: no-repeat;
        background-position: center center;
        bottom: -6.8rem;
        left: 0;
        z-index: 10;

        @include tablets {
            bottom: -5rem;
        }

        @include phones {
            background: none;;
         }

    }
}

.about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__subtitle {
    font-weight: 300;
    font-size: rem(18px);
    text-align: center;
    color: $gray;
    margin-top: rem(8px);

    @include phones {
        font-size: rem(19px);
    }

}
