.accordeon-menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 2;

    @include phones {
    width: 100%;
    justify-content: flex-end;
    }

    
}

.accordeon-menu__content {
    max-width: 0;
    overflow: hidden;
    background-color: #2f3234;
    opacity: 0.93;
    transition: max-width 0.3s;
    position: relative;

    @include phones {
        width: 100%;
    }


}

.accordeon-menu__item {
    display: flex;
    height: 100vh;

        
    @include tablets {
        font-size: 16px;
        height: 100%;
    }

    @include phones {
       justify-content: flex-end;
    }



    
    &--active {
        
        @include phones {
            height: 100%;
            z-index: 5;
        }

        .accordeon-menu__content {
            max-width: rem(530px);

            @include tablets {
                max-width: rem(472px);
            }

            @include phones {
              width: 100%;
            }

          
        }
    }
}

.accordeon-menu__desc {
    width: rem(540px);
    color: $white;
    opacity: 0.93;
    line-height: 1.5;
    font-size: rem(16px);
    padding: rem(50px) rem(86px) rem(50px) rem(27px);

    @include tablets {
        max-width: rem(471px);
        width: 100%;
    }
    @include phones {
        width: 100%;
        padding: rem(50px) rem(30px) rem(50px) rem(27px);
    }

}

.accordeon-menu__btn {
    display: block;
    width: rem(100px);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 36% center;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #000000;
        opacity: 0.6;
        z-index: 3;
    }
}


.accordeon-menu__btn-title {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: rotate(-90deg) translateY(-50%);
    font-weight: 400;
    font-size: rem(47.94px);
    color: $white;
    transform-origin: 0 0;
    white-space: nowrap;
    margin-top: rem(-46px);
    z-index: 4;

    @include phones {
        font-size: rem(38px);
      }

}