.phone {
    display: flex;
    align-items: center;

    @include tablets {
        display: none;
    }
}

.phone--green {
    display: flex;
    align-items: center;

    @include phones {
       justify-content: center;
       margin-top: rem(10px);
    }
}

.phone__icon {
    width: rem(12px);
    height: rem(11px);
    margin-right: rem(6px);
    fill: $white;
}

.phone__number {
    color: $white;
    font-size: rem(24px);
    text-align: right;
    line-height: 1.25;
    flex: 0 0 auto;
}

.phone__icon--green {
    fill: $green;
}


.phone__number--green {
        color: $green;
        font-size: rem(21px);
        line-height: 1.43;
}