.promo {
   background-color: #61c4d9;
   background-image: url('img/bg/chocolates.png'), url('img/bg/fern.png');
   background-repeat: no-repeat, no-repeat;
   background-size:  auto, contain;
   background-position: 96% 44%, right bottom;
   position: relative;

   @include tablets {
      background-image: url('img/bg/promo-berries-768.png'),
      url('img/bg/chocolates.png'),
      url('img/bg/fern.png');
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: 48% 31%, center 9%, right top;
      background-size: 55%, 54%, 66%;

  }

  @include phones {
   background-position: 55% 26.5%, center 4%, right top;
   background-size: 69%, 65%, 66%;
}

   &:after {
      content: '';
      position: absolute;
      width: rem(59px);
      height: rem(112px);
      background-image: url('img/bg/left-leaf.png');
      background-repeat: no-repeat;
      background-position: center center;
      bottom: -4rem;
      left: 1.9rem;

      @include tablets {
         background: none;
     }
   }

   &:before {
      content: '';
      position: absolute;
      width: rem(460px);
      height: rem(341px);
      background-image: url('img/bg/right-leaves-and-berry.png');
      background-repeat: no-repeat;
      background-position: center center;
      bottom: -3rem;
      right: rem(11px);

      @include tablets {
         background: none;
         width: 0;
         height: 0;
     }
   }

}

.promo__content {
   color: $white;
   flex: 1;
}

.fp-tableCell {
   display: flex;
   flex-direction: column;

}

.promo__container {
   display: flex;
   flex-direction: column;
   justify-content: space-around;

   @include tablets {
      align-items: center;
      justify-content: flex-end;
  }
}